.instruction {

    padding: 100px 0px;

    &__upper-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__addition-icon {
        margin-bottom: 20px;
    }

    &__addition-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        color: rgba(74, 74, 74, 0.9);
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 108%;
        text-align: right;
        color: rgba(6, 6, 6, 0.8);
        margin-bottom: 25px;

        & span {
            color: #6ca8ee;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 108%;
        text-align: right;
        color: #060606;
    }

    &__slider-slide {

        display: flex;
        align-items: center;
        gap: 50px;
        background-color: #DEE1E8;
        border-radius: 50px;

        padding: 50px 8px 50px 50px;
    }

    &__slider-addition {
        max-width: 270px;
        text-align: center;

        border: 1px solid rgba(6, 6, 6, 0.2);
        border-radius: 21px;
        padding: 6px 19px 5px 19px;

        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: rgba(6, 6, 6, 0.6);
        margin-bottom: 35px;
    }

    &__slider-title {
        font-weight: 700;
        font-size: 55px;
        line-height: 100%;
        color: #6293dd;
        margin-bottom: 35px;
    }

    &__how-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #060606;
        margin-bottom: 30px;
    }

    &__how-steps {
        margin-bottom: 51px;
    }

    &__how-step {
        display: flex;
        gap: 33px;
        margin-bottom: 8px;
    }

    &__step-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 107%;
        color: rgba(6, 6, 6, 0.5);
    }

    &__step-about {
        font-weight: 400;
        font-size: 17px;
        line-height: 162%;
        color: #060606;
    }

    &__question-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 107%;
        color: rgba(6, 6, 6, 0.2);
    }

    &__question-about {
        font-weight: 400;
        font-size: 17px;
        line-height: 162%;
        color: rgba(6, 6, 6, 0.5);
    }

    &__button {
        max-width: 414px;
        display: flex;
        align-items: center;
        gap: 20px;

        border: 2.09px solid #6293dd;
        border-radius: 40px;
        background: #dee1e8;

        padding: 11px 58px 9px 78px;
    }

    &__button-text {
        font-weight: 700;
        font-size: 21px;
        line-height: 231%;
        color: #6293dd;
    }
}

.swiper-pagination-wrap {
    margin-top: 40px;
    position: relative;
}

/* ============================================================================== */

@media (max-width: 1250px) {
    .instruction {

        padding: 70px 0px;
        
        &__title {
            font-size: 32px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__addition-text {
            font-size: 15px;
        }

        &__slider-slide {
            flex-wrap: wrap;
        }

        &__img img {
            width: 300px;
        }

        &__slider-addition {
            margin-bottom: 15px;
        }

        &__slider-slide {
            justify-content: center;
            font-size: 46px;
            gap: 20px;
            text-align: center;
        }

        &__how-title {
            font-size: 16px;
            margin-bottom: 20px;
        }

        &__slider-addition {
            margin: 0px auto 15px auto;
        }

        &__button {
            padding: 11px 28px 9px 58px;
        }
    }
}

@media (max-width: 768px) {
    .instruction {
        &__upper-content {
            flex-direction: column;
            text-align: center;
        }

        &__addition-text {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 36px;
            text-align: center;
        }

        &__subtitle {
            text-align: center;
            font-size: 16px;
        }
    }
}

@media (max-width: 528px) {
    .instruction {
        &__title {
            font-size: 30px;
        }

        &__img img{
            width: 200px;
        }

        &__slider-slide {
            padding: 30px 10px 30px 10px
        }

        &__slider-addition {
            max-width: 220px;
            font-size: 11px;
        }

        &__slider-title {
            font-size: 32px;
            margin-bottom: 15px;
        }

        &__step-number {
            font-size: 12px;
            text-align: left;
        }

        &__step-about {
            font-size: 14px;
            text-align: left;
        }

        &__how-steps {
            margin-bottom: 15px;
        }

        &__button {
            gap: 10px;
            padding: 1px 16px 6px 28px;

            height: 73px;
        }

        &__button-img {
            margin-top: 20px;
        }

        &__button-text {
            font-size: 17px;
            line-height: 118%;
        }
    }
}